@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.visible{
  visibility: visible;
}

.collapse{
  visibility: collapse;
}

.static{
  position: static;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.\!bottom-0{
  bottom: 0px !important;
}

.-bottom-4{
  bottom: -1rem;
}

.bottom-0{
  bottom: 0px;
}

.bottom-\[-10px\]{
  bottom: -10px;
}

.left-0{
  left: 0px;
}

.left-\[159px\]{
  left: 159px;
}

.left-\[165px\]{
  left: 165px;
}

.right-0{
  right: 0px;
}

.right-\[43px\]{
  right: 43px;
}

.top-0{
  top: 0px;
}

.top-\[-15px\]{
  top: -15px;
}

.-z-10{
  z-index: -10;
}

.z-10{
  z-index: 10;
}

.z-\[100\]{
  z-index: 100;
}

.z-\[101\]{
  z-index: 101;
}

.m-\[50px\]{
  margin: 50px;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.\!mt-0{
  margin-top: 0px !important;
}

.-mb-6{
  margin-bottom: -1.5rem;
}

.-ml-1{
  margin-left: -0.25rem;
}

.-ml-\[10px\]{
  margin-left: -10px;
}

.-mt-16{
  margin-top: -4rem;
}

.-mt-6{
  margin-top: -1.5rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.ml-4{
  margin-left: 1rem;
}

.ml-auto{
  margin-left: auto;
}

.mr-\[14px\]{
  margin-right: 14px;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.mt-\[15px\]{
  margin-top: 15px;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.contents{
  display: contents;
}

.hidden{
  display: none;
}

.h-1{
  height: 0.25rem;
}

.h-10{
  height: 2.5rem;
}

.h-12{
  height: 3rem;
}

.h-16{
  height: 4rem;
}

.h-6{
  height: 1.5rem;
}

.h-\[100px\]{
  height: 100px;
}

.h-\[125px\]{
  height: 125px;
}

.h-\[233px\]{
  height: 233px;
}

.h-\[297px\]{
  height: 297px;
}

.h-\[36px\]{
  height: 36px;
}

.h-\[40px\]{
  height: 40px;
}

.h-\[52px\]{
  height: 52px;
}

.h-\[67px\]{
  height: 67px;
}

.h-full{
  height: 100%;
}

.max-h-0{
  max-height: 0px;
}

.min-h-\[52px\]{
  min-height: 52px;
}

.\!w-full{
  width: 100% !important;
}

.w-1{
  width: 0.25rem;
}

.w-10{
  width: 2.5rem;
}

.w-12{
  width: 3rem;
}

.w-\[125px\]{
  width: 125px;
}

.w-\[204px\]{
  width: 204px;
}

.w-\[225px\]{
  width: 225px;
}

.w-\[228px\]{
  width: 228px;
}

.w-\[229px\]{
  width: 229px;
}

.w-\[260px\]{
  width: 260px;
}

.w-\[285px\]{
  width: 285px;
}

.w-\[315px\]{
  width: 315px;
}

.w-\[324px\]{
  width: 324px;
}

.w-\[328px\]{
  width: 328px;
}

.w-\[36px\]{
  width: 36px;
}

.w-\[40px\]{
  width: 40px;
}

.w-\[52px\]{
  width: 52px;
}

.w-\[85px\]{
  width: 85px;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.min-w-\[52px\]{
  min-width: 52px;
}

.min-w-\[602px\]{
  min-width: 602px;
}

.max-w-\[464px\]{
  max-width: 464px;
}

.max-w-\[525px\]{
  max-width: 525px;
}

.max-w-\[768px\]{
  max-width: 768px;
}

.max-w-\[791px\]{
  max-width: 791px;
}

.max-w-\[926px\]{
  max-width: 926px;
}

.max-w-full{
  max-width: 100%;
}

.translate-y-\[10px\]{
  --tw-translate-y: 10px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-2{
  --tw-rotate: -2deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-3{
  --tw-rotate: -3deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-3{
  --tw-rotate: 3deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[4deg\]{
  --tw-rotate: 4deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.select-none{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize{
  resize: both;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.flex-col-reverse{
  flex-direction: column-reverse;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-10{
  gap: 2.5rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-8{
  gap: 2rem;
}

.gap-\[10px\]{
  gap: 10px;
}

.gap-x-6{
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.gap-y-3{
  row-gap: 0.75rem;
}

.gap-y-8{
  row-gap: 2rem;
}

.space-y-10 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.space-y-\[10px\] > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(10px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(10px * var(--tw-space-y-reverse));
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-\[80px\]{
  border-radius: 80px;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-b-3xl{
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.rounded-t-3xl{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.\!border{
  border-width: 1px !important;
}

.border{
  border-width: 1px;
}

.border-\[4px\]{
  border-width: 4px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-t{
  border-top-width: 1px;
}

.\!border-solid{
  border-style: solid !important;
}

.\!border-\[\#DEE3F3\]{
  --tw-border-opacity: 1 !important;
  border-color: rgb(222 227 243 / var(--tw-border-opacity, 1)) !important;
}

.border-\[\#434343\]{
  --tw-border-opacity: 1;
  border-color: rgb(67 67 67 / var(--tw-border-opacity, 1));
}

.border-\[\#DEE3F3\]{
  --tw-border-opacity: 1;
  border-color: rgb(222 227 243 / var(--tw-border-opacity, 1));
}

.border-blue{
  --tw-border-opacity: 1;
  border-color: rgb(64 123 255 / var(--tw-border-opacity, 1));
}

.\!bg-blue{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(64 123 255 / var(--tw-bg-opacity, 1)) !important;
}

.\!bg-transparent{
  background-color: transparent !important;
}

.bg-\[\#F4F7FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFFFFF1A\]{
  background-color: #FFFFFF1A;
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(20 20 20 / var(--tw-bg-opacity, 1));
}

.bg-blue{
  --tw-bg-opacity: 1;
  background-color: rgb(64 123 255 / var(--tw-bg-opacity, 1));
}

.bg-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(112 125 137 / var(--tw-bg-opacity, 1));
}

.bg-light{
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 255 / var(--tw-bg-opacity, 1));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-chart-bg{
  background-image: url('../images/chart-bg.webp');
}

.bg-intro-bg{
  background-image: url('../images/intro-bg.webp');
}

.bg-cover{
  background-size: cover;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.stroke-blue{
  stroke: #407BFF;
}

.p-1{
  padding: 0.25rem;
}

.p-4{
  padding: 1rem;
}

.p-5{
  padding: 1.25rem;
}

.p-6{
  padding: 1.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pb-12{
  padding-bottom: 3rem;
}

.pb-6{
  padding-bottom: 1.5rem;
}

.pt-10{
  padding-top: 2.5rem;
}

.pt-4{
  padding-top: 1rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-8{
  padding-top: 2rem;
}

.pt-\[112px\]{
  padding-top: 112px;
}

.pt-\[30px\]{
  padding-top: 30px;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.\!text-sm{
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[10px\]{
  font-size: 10px;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-\[25px\]{
  font-size: 25px;
}

.text-\[28px\]{
  font-size: 28px;
}

.text-\[32px\]{
  font-size: 32px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-extrabold{
  font-weight: 800;
}

.font-light{
  font-weight: 300;
}

.font-semibold{
  font-weight: 600;
}

.italic{
  font-style: italic;
}

.leading-\[110\%\]{
  line-height: 110%;
}

.leading-\[110\.00000000000001\%\]{
  line-height: 110.00000000000001%;
}

.leading-\[120\%\]{
  line-height: 120%;
}

.leading-\[26px\]{
  line-height: 26px;
}

.leading-\[30px\]{
  line-height: 30px;
}

.leading-full{
  line-height: 100%;
}

.\!text-black{
  --tw-text-opacity: 1 !important;
  color: rgb(20 20 20 / var(--tw-text-opacity, 1)) !important;
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(20 20 20 / var(--tw-text-opacity, 1));
}

.text-blue{
  --tw-text-opacity: 1;
  color: rgb(64 123 255 / var(--tw-text-opacity, 1));
}

.text-gray{
  --tw-text-opacity: 1;
  color: rgb(112 125 137 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-50{
  opacity: 0.5;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur{
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert{
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-100{
  transition-duration: 100ms;
}

.duration-200{
  transition-duration: 200ms;
}

span,
a{
  display: inline-block;
  text-decoration-line: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(20 20 20 / var(--tw-text-opacity, 1));
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1296px;
}

.main-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1792px;
}

.btn-blue{
  display: flex;
  height: 3.5rem;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 10px;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(64 123 255 / var(--tw-bg-opacity, 1));
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-outline-blue{
  display: flex;
  height: 3.5rem;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 10px;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(64 123 255 / var(--tw-border-opacity, 1));
  background-color: transparent;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(64 123 255 / var(--tw-text-opacity, 1));
}

.btn-blue-big{
  --tw-bg-opacity: 1;
  background-color: rgb(64 123 255 / var(--tw-bg-opacity, 1));
  display: flex;
  height: 72px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  background-color: transparent;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.title{
  font-size: 28px;
  font-weight: 600;
  line-height: 110.00000000000001%;
}

@media (min-width: 640px){
  .title{
    font-size: 44px;
  }
}

@media (min-width: 1024px){
  .title{
    font-size: 56px;
  }
}

.accordion-btn.active{
  --tw-bg-opacity: 1;
  background-color: rgb(64 123 255 / var(--tw-bg-opacity, 1));
}

.accordion-btn.active svg{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.accordion-btn.active path{
  stroke: #fff;
}

.accordion-content p{
  padding-top: 0.75rem;
}

@media (max-width: 1350px) {
  .container{
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1024px) {
  body{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .header-login__btn {
    background: #e7edff;
    border: none;
    font-size: 12px;
    font-weight: 500;
    gap: 12px;
    width: 132px;
  }

  .header-call__btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro .btn-blue-big {
    width: 286px;
    height: 64px;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
  }

  .btn-blue-big{
    height: 4rem;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .container{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 640px) {
  .header-login__btn {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-display: 12px;
    padding: 0;
    justify-content: center;
  }

  .intro .btn-blue-big {
    width: 100%;
    height: 64px;
  }

  .btn-blue-big,
  .btn-outline-blue,
  .btn-blue{
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .accordion-content p{
    padding-top: 1rem;
  }
}

.swiper-pagination-bullet{
  height: 0.5rem;
  width: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(206 215 239 / var(--tw-bg-opacity, 1));
  opacity: 1;
}

.swiper-pagination-bullet-active{
  --tw-bg-opacity: 1;
  background-color: rgb(64 123 255 / var(--tw-bg-opacity, 1));
}

/* logo slider */

.logo-slider-wrap {
  white-space: nowrap;
  overflow: hidden;
}

.logo-slider-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item-slide::after {
  position: relative;
  display: inline-block;
  content: ' ';
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/asterisk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  --tw-translate-y: 2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 640px){
  .item-slide::after{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media (min-width: 1024px){
  .item-slide::after{
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.item-slide span {
  color: #407bff;
}

/* modals */

.phone-main {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}

.modal-block {
  display: none;
}

.head-modal {
  margin-bottom: 24px;
  text-align: center;
}

.btn-main {
  height: 72px;
  padding: 0 32px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  background-color: #407bff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}

.title-modal {
  font-size: 32px;
  line-height: 130%;
  font-weight: 600;
}

.modal-wrap {
  width: 480px;
  padding: 40px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 24px;
  color: #141414;
  background-color: #fff;
}

.fancybox-content {
  padding: 0;
  background: transparent;
}

.fancybox-button svg path {
  fill: #407bff;
}

.fancybox-close-small {
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  right: 3px;
  top: 3px;
}

.item-form {
  margin-bottom: 12px;
}

.item-form input {
  height: 56px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  border: 1px solid #d2dae1;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #141414;
}

.modal-wrap .btn-main {
  height: 56px;
  width: 100%;
  margin-top: 12px;
  padding: 0 10px;
}

.modal-bottom {
  padding-top: 32px;
  text-align: center;
}

.modal-bottom p {
  margin-bottom: 16px;
}

.modal-bottom p:last-child {
  margin-bottom: 0;
}

.modal-bottom p a {
  margin-left: 12px;
  color: #407bff;
  border-bottom: 1px transparent solid;
  font-weight: 600;
}

.modal-bottom p a:hover {
  border-color: #407bff;
}

.checkbox {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 150%;
  color: #707d89;
  letter-spacing: normal;
  display: flex;
  text-align: left;
}

.checkbox a {
  color: #407bff;
  border-bottom: 1px transparent solid;
}

.checkbox a:hover {
  border-color: #407bff;
}

.checkbox label input {
  position: absolute;
  z-index: -1;
  height: 1px !important;
  width: 1px !important;
  opacity: 0 !important;
  margin: 12px 2px 0 7px !important;
}

.checkbox label > span {
  position: relative;
  padding: 0px 0 0 34px;
  display: block;
  cursor: pointer;
}

.checkbox label > span:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border: 1px solid #407bff;
  border-radius: 2px;
  transition: 0.2s;
}

.checkbox label > span:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: 0.2s;
}

.checkbox label input:checked + span:before {
  background-color: #407bff;
}

.checkbox label input:checked + span:after {
  opacity: 1;
}

.descr-modal {
  margin-top: 8px;
  color: #707d89;
}

.descr-form {
  font-size: 14px;
  margin: 24px 0;
  color: #707d89;
  line-height: 150%;
}

.descr-socials {
  margin-bottom: 16px;
  color: #707d89;
}

.modal-wrap .phone-main {
  margin-bottom: 16px;
  color: #141414;
  display: block;
}

.modal-wrap .social-links a {
  color: #141414;
}

.modal-wrap .social-links {
  margin-bottom: 16px;
}

#modal-applications .title-modal {
  text-align: left;
}

#modal-applications .descr-modal {
  text-align: left;
}

.icon-social {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #407bff;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links li {
  margin-right: 40px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  color: #fff;
  display: inline-flex;
  align-items: center;
}

.modal-block label a{
  display: inline;
}

@media (max-width: 992px) {
  .modal-wrap {
    width: 464px;
    padding: 32px;
  }

  .title-modal {
    font-size: 22px;
  }

  .item-form input {
    height: 52px;
    font-size: 14px;
  }

  .modal-wrap .btn-main {
    height: 53px;
  }

  .checkbox {
    font-size: 12px;
  }

  #modal-applications .title-modal {
    max-width: 375px;
  }
}

@media (max-width: 768px) {
  .modal-wrap {
    padding: 24px 16px;
    border-radius: 8px;
  }

  .head-modal {
    margin-bottom: 16px;
  }

  .checkbox {
    margin-bottom: 4px;
  }

  .modal-bottom {
    padding-top: 24px;
  }

  #modal-applications .title-modal {
    max-width: 298px;
  }

  .descr-form {
    font-size: 12px;
    margin-top: 16px;
  }

  .descr-socials {
    margin-bottom: 12px;
  }

  .modal-wrap .social-links {
    margin-bottom: 12px;
  }

  .str_wrap {
    height: 31px !important;
  }

  .modal-wrap .btn-main {
    height: 48px;
    font-size: 12px;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.\*\:visible > *{
  visibility: visible;
}

@media (min-width: 640px){
  .sm\:-bottom-11{
    bottom: -2.75rem;
  }

  .sm\:bottom-\[-9px\]{
    bottom: -9px;
  }

  .sm\:left-\[unset\]{
    left: unset;
  }

  .sm\:right-\[-13px\]{
    right: -13px;
  }

  .sm\:right-\[-5\%\]{
    right: -5%;
  }

  .sm\:top-\[-9px\]{
    top: -9px;
  }

  .sm\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .sm\:my-10{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .sm\:my-14{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }

  .sm\:-mb-10{
    margin-bottom: -2.5rem;
  }

  .sm\:-ml-4{
    margin-left: -1rem;
  }

  .sm\:mb-10{
    margin-bottom: 2.5rem;
  }

  .sm\:mb-12{
    margin-bottom: 3rem;
  }

  .sm\:mb-14{
    margin-bottom: 3.5rem;
  }

  .sm\:mb-6{
    margin-bottom: 1.5rem;
  }

  .sm\:mb-\[56px\]{
    margin-bottom: 56px;
  }

  .sm\:mb-\[80px\]{
    margin-bottom: 80px;
  }

  .sm\:mt-10{
    margin-top: 2.5rem;
  }

  .sm\:mt-14{
    margin-top: 3.5rem;
  }

  .sm\:mt-8{
    margin-top: 2rem;
  }

  .sm\:mt-\[107px\]{
    margin-top: 107px;
  }

  .sm\:block{
    display: block;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:hidden{
    display: none;
  }

  .sm\:h-10{
    height: 2.5rem;
  }

  .sm\:h-\[150px\]{
    height: 150px;
  }

  .sm\:h-\[28px\]{
    height: 28px;
  }

  .sm\:h-\[414px\]{
    height: 414px;
  }

  .sm\:h-\[431px\]{
    height: 431px;
  }

  .sm\:h-\[74px\]{
    height: 74px;
  }

  .sm\:w-\[142px\]{
    width: 142px;
  }

  .sm\:w-\[148px\]{
    width: 148px;
  }

  .sm\:w-\[150px\]{
    width: 150px;
  }

  .sm\:w-\[156px\]{
    width: 156px;
  }

  .sm\:w-\[330px\]{
    width: 330px;
  }

  .sm\:w-\[569px\]{
    width: 569px;
  }

  .sm\:w-full{
    width: 100%;
  }

  .sm\:min-w-\[669px\]{
    min-width: 669px;
  }

  .sm\:max-w-\[185px\]{
    max-width: 185px;
  }

  .sm\:max-w-\[525px\]{
    max-width: 525px;
  }

  .sm\:max-w-\[669px\]{
    max-width: 669px;
  }

  .sm\:translate-y-0{
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:rotate-\[6\.9deg\]{
    --tw-rotate: 6.9deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:rotate-\[8deg\]{
    --tw-rotate: 8deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:gap-10{
    gap: 2.5rem;
  }

  .sm\:gap-6{
    gap: 1.5rem;
  }

  .sm\:gap-8{
    gap: 2rem;
  }

  .sm\:gap-y-8{
    row-gap: 2rem;
  }

  .sm\:space-y-10 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
  }

  .sm\:space-y-3 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
  }

  .sm\:space-y-6 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }

  .sm\:overflow-visible{
    overflow: visible;
  }

  .sm\:rounded-3xl{
    border-radius: 1.5rem;
  }

  .sm\:rounded-none{
    border-radius: 0px;
  }

  .sm\:rounded-b-\[64px\]{
    border-bottom-right-radius: 64px;
    border-bottom-left-radius: 64px;
  }

  .sm\:bg-light{
    --tw-bg-opacity: 1;
    background-color: rgb(244 247 255 / var(--tw-bg-opacity, 1));
  }

  .sm\:bg-transparent{
    background-color: transparent;
  }

  .sm\:p-0{
    padding: 0px;
  }

  .sm\:p-10{
    padding: 2.5rem;
  }

  .sm\:p-8{
    padding: 2rem;
  }

  .sm\:px-\[30px\]{
    padding-left: 30px;
    padding-right: 30px;
  }

  .sm\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:pb-10{
    padding-bottom: 2.5rem;
  }

  .sm\:pb-\[74px\]{
    padding-bottom: 74px;
  }

  .sm\:pt-10{
    padding-top: 2.5rem;
  }

  .sm\:pt-6{
    padding-top: 1.5rem;
  }

  .sm\:pt-8{
    padding-top: 2rem;
  }

  .sm\:pt-\[107px\]{
    padding-top: 107px;
  }

  .sm\:text-center{
    text-align: center;
  }

  .sm\:text-\[26px\]{
    font-size: 26px;
  }

  .sm\:text-\[44px\]{
    font-size: 44px;
  }

  .sm\:text-xs{
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .sm\:leading-\[30px\]{
    line-height: 30px;
  }
}

@media (min-width: 768px){
  .md\:m-\[100px\]{
    margin: 100px;
  }

  .md\:my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .md\:-ml-\[30px\]{
    margin-left: -30px;
  }

  .md\:mb-8{
    margin-bottom: 2rem;
  }

  .md\:hidden{
    display: none;
  }

  .md\:h-auto{
    height: auto;
  }

  .md\:space-y-4 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }
}

@media (min-width: 1024px){
  .lg\:bottom-\[-14px\]{
    bottom: -14px;
  }

  .lg\:right-\[-10\%\]{
    right: -10%;
  }

  .lg\:right-\[93px\]{
    right: 93px;
  }

  .lg\:top-\[-11px\]{
    top: -11px;
  }

  .lg\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:my-\[80px\]{
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .lg\:-mb-\[80px\]{
    margin-bottom: -80px;
  }

  .lg\:mb-12{
    margin-bottom: 3rem;
  }

  .lg\:mb-3{
    margin-bottom: 0.75rem;
  }

  .lg\:mb-4{
    margin-bottom: 1rem;
  }

  .lg\:mb-8{
    margin-bottom: 2rem;
  }

  .lg\:mb-\[80px\]{
    margin-bottom: 80px;
  }

  .lg\:mt-12{
    margin-top: 3rem;
  }

  .lg\:mt-6{
    margin-top: 1.5rem;
  }

  .lg\:mt-7{
    margin-top: 1.75rem;
  }

  .lg\:mt-8{
    margin-top: 2rem;
  }

  .lg\:mt-\[52px\]{
    margin-top: 52px;
  }

  .lg\:mt-\[80px\]{
    margin-top: 80px;
  }

  .lg\:block{
    display: block;
  }

  .lg\:h-\[108px\]{
    height: 108px;
  }

  .lg\:h-\[140px\]{
    height: 140px;
  }

  .lg\:h-\[153px\]{
    height: 153px;
  }

  .lg\:h-\[200px\]{
    height: 200px;
  }

  .lg\:h-\[392px\]{
    height: 392px;
  }

  .lg\:h-\[52px\]{
    height: 52px;
  }

  .lg\:h-\[72px\]{
    height: 72px;
  }

  .lg\:h-auto{
    height: auto;
  }

  .lg\:min-h-\[306px\]{
    min-height: 306px;
  }

  .lg\:w-\[200px\]{
    width: 200px;
  }

  .lg\:w-\[52px\]{
    width: 52px;
  }

  .lg\:w-\[636px\]{
    width: 636px;
  }

  .lg\:w-\[72px\]{
    width: 72px;
  }

  .lg\:w-auto{
    width: auto;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:max-w-\[214px\]{
    max-width: 214px;
  }

  .lg\:max-w-\[580px\]{
    max-width: 580px;
  }

  .lg\:max-w-\[592px\]{
    max-width: 592px;
  }

  .lg\:max-w-\[636px\]{
    max-width: 636px;
  }

  .lg\:max-w-\[856px\]{
    max-width: 856px;
  }

  .lg\:-rotate-3{
    --tw-rotate: -3deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:gap-0{
    gap: 0px;
  }

  .lg\:gap-10{
    gap: 2.5rem;
  }

  .lg\:gap-12{
    gap: 3rem;
  }

  .lg\:gap-4{
    gap: 1rem;
  }

  .lg\:gap-5{
    gap: 1.25rem;
  }

  .lg\:gap-6{
    gap: 1.5rem;
  }

  .lg\:space-y-10 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
  }

  .lg\:space-y-4 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }

  .lg\:rounded-2xl{
    border-radius: 1rem;
  }

  .lg\:rounded-3xl{
    border-radius: 1.5rem;
  }

  .lg\:rounded-\[64px\]{
    border-radius: 64px;
  }

  .lg\:rounded-t-\[28px\]{
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
  }

  .lg\:stroke-white{
    stroke: #fff;
  }

  .lg\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:py-\[80px\]{
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .lg\:pb-\[104px\]{
    padding-bottom: 104px;
  }

  .lg\:pb-\[60px\]{
    padding-bottom: 60px;
  }

  .lg\:pl-8{
    padding-left: 2rem;
  }

  .lg\:pr-5{
    padding-right: 1.25rem;
  }

  .lg\:pt-12{
    padding-top: 3rem;
  }

  .lg\:pt-14{
    padding-top: 3.5rem;
  }

  .lg\:pt-7{
    padding-top: 1.75rem;
  }

  .lg\:pt-\[80px\]{
    padding-top: 80px;
  }

  .lg\:text-left{
    text-align: left;
  }

  .lg\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-\[32px\]{
    font-size: 32px;
  }

  .lg\:text-\[40px\]{
    font-size: 40px;
  }

  .lg\:text-\[56px\]{
    font-size: 56px;
  }

  .lg\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .lg\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:leading-\[130\%\]{
    line-height: 130%;
  }

  .lg\:leading-\[30px\]{
    line-height: 30px;
  }

  .lg\:leading-\[32px\]{
    line-height: 32px;
  }
}

@media (min-width: 1280px){
  .xl\:-left-\[88px\]{
    left: -88px;
  }

  .xl\:-right-\[75px\]{
    right: -75px;
  }

  .xl\:bottom-\[84px\]{
    bottom: 84px;
  }

  .xl\:right-\[73px\]{
    right: 73px;
  }

  .xl\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }

  .xl\:ml-0{
    margin-left: 0px;
  }

  .xl\:w-auto{
    width: auto;
  }

  .xl\:max-w-\[1059px\]{
    max-width: 1059px;
  }

  .xl\:-rotate-3{
    --tw-rotate: -3deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:rotate-12{
    --tw-rotate: 12deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:flex-row{
    flex-direction: row;
  }

  .xl\:items-end{
    align-items: flex-end;
  }

  .xl\:p-10{
    padding: 2.5rem;
  }

  .xl\:text-left{
    text-align: left;
  }
}
