@tailwind base;
@tailwind components;
@tailwind utilities;

span,
a {
  @apply inline-block no-underline;
}
body {
  @apply text-black text-base font-normal font-Montserrat leading-6;
}
.container {
  @apply max-w-[1296px] mx-auto;
}
.main-container {
  @apply max-w-[1792px] mx-auto;
}

.btn-blue {
  @apply h-14 w-fit px-7 py-4 bg-blue text-white flex gap-[10px] items-center font-semibold rounded-lg;
}
.btn-outline-blue {
  @apply h-14 w-fit px-7 py-4 bg-transparent text-blue border border-blue flex gap-[10px] items-center font-semibold rounded-lg;
}

.btn-blue-big {
  @apply h-[72px] w-fit px-8 py-6 bg-blue text-white flex gap-3 items-center font-semibold rounded-lg;
}

.btn-blue-big {
  @apply h-[72px] w-fit px-8 py-6 bg-transparent text-white flex gap-3 items-center font-semibold rounded-lg border border-white;
}

.title {
  @apply lg:text-[56px] sm:text-[44px] text-[28px] leading-[110.00000000000001%] font-semibold;
}

.accordion-btn.active {
  @apply bg-blue;
}
.accordion-btn.active svg {
  @apply rotate-180;
}
.accordion-btn.active path {
  @apply stroke-white;
}

.accordion-content p {
  @apply pt-3;
}
@media (max-width: 1350px) {
  .container {
    @apply max-w-full px-[30px];
  }
}

@media (max-width: 1024px) {
  body {
    @apply text-sm;
  }
  .header-login__btn {
    background: #e7edff;
    border: none;
    font-size: 12px;
    font-weight: 500;
    gap: 12px;
    width: 132px;
  }
  .header-call__btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro .btn-blue-big {
    width: 286px;
    height: 64px;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
  }
  .btn-blue-big {
    @apply py-5 px-8 h-16 justify-center;
  }
}

@media (max-width: 768px) {
  .container {
    @apply px-4;
  }
}
@media (max-width: 640px) {
  .header-login__btn {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-display: 12px;
    padding: 0;
    justify-content: center;
  }
  .intro .btn-blue-big {
    width: 100%;
    height: 64px;
  }
  .btn-blue-big,
  .btn-outline-blue,
  .btn-blue {
    @apply text-xs;
  }
  .accordion-content p {
    @apply pt-4;
  }
}

.swiper-pagination-bullet {
  @apply w-2 h-2 bg-[#CED7EF] opacity-100;
}
.swiper-pagination-bullet-active {
  @apply bg-blue;
}

/* logo slider */
.logo-slider-wrap {
  white-space: nowrap;
  overflow: hidden;
}
.logo-slider-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-slide::after {
  position: relative;
  display: inline-block;
  content: ' ';
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/asterisk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @apply lg:mx-16 sm:mx-10 mx-6 translate-y-[2px];
}
.item-slide span {
  color: #407bff;
}
/* modals */
.phone-main {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}
.modal-block {
  display: none;
}
.head-modal {
  margin-bottom: 24px;
  text-align: center;
}
.btn-main {
  height: 72px;
  padding: 0 32px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  background-color: #407bff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}
.title-modal {
  font-size: 32px;
  line-height: 130%;
  font-weight: 600;
}
.modal-wrap {
  width: 480px;
  padding: 40px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 24px;
  color: #141414;
  background-color: #fff;
}
.fancybox-content {
  padding: 0;
  background: transparent;
}
.fancybox-button svg path {
  fill: #407bff;
}
.fancybox-close-small {
  opacity: 1;
}
.fancybox-slide--html .fancybox-close-small {
  right: 3px;
  top: 3px;
}
.item-form {
  margin-bottom: 12px;
}
.item-form input {
  height: 56px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  border: 1px solid #d2dae1;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #141414;
}
.modal-wrap .btn-main {
  height: 56px;
  width: 100%;
  margin-top: 12px;
  padding: 0 10px;
}
.modal-bottom {
  padding-top: 32px;
  text-align: center;
}
.modal-bottom p {
  margin-bottom: 16px;
}
.modal-bottom p:last-child {
  margin-bottom: 0;
}
.modal-bottom p a {
  margin-left: 12px;
  color: #407bff;
  border-bottom: 1px transparent solid;
  font-weight: 600;
}
.modal-bottom p a:hover {
  border-color: #407bff;
}
.checkbox {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 150%;
  color: #707d89;
  letter-spacing: normal;
  display: flex;
  text-align: left;
}
.checkbox a {
  color: #407bff;
  border-bottom: 1px transparent solid;
}
.checkbox a:hover {
  border-color: #407bff;
}
.checkbox label input {
  position: absolute;
  z-index: -1;
  height: 1px !important;
  width: 1px !important;
  opacity: 0 !important;
  margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
  position: relative;
  padding: 0px 0 0 34px;
  display: block;
  cursor: pointer;
}
.checkbox label > span:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border: 1px solid #407bff;
  border-radius: 2px;
  transition: 0.2s;
}
.checkbox label > span:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: 0.2s;
}
.checkbox label input:checked + span:before {
  background-color: #407bff;
}
.checkbox label input:checked + span:after {
  opacity: 1;
}

.descr-modal {
  margin-top: 8px;
  color: #707d89;
}
.descr-form {
  font-size: 14px;
  margin: 24px 0;
  color: #707d89;
  line-height: 150%;
}
.descr-socials {
  margin-bottom: 16px;
  color: #707d89;
}
.modal-wrap .phone-main {
  margin-bottom: 16px;
  color: #141414;
  display: block;
}
.modal-wrap .social-links a {
  color: #141414;
}
.modal-wrap .social-links {
  margin-bottom: 16px;
}
#modal-applications .title-modal {
  text-align: left;
}
#modal-applications .descr-modal {
  text-align: left;
}
.icon-social {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #407bff;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-links li {
  margin-right: 40px;
}
.social-links li:last-child {
  margin-right: 0;
}
.social-links a {
  color: #fff;
  display: inline-flex;
  align-items: center;
}
.modal-block label a {
  @apply inline;
}

@media (max-width: 992px) {
  .modal-wrap {
    width: 464px;
    padding: 32px;
  }
  .title-modal {
    font-size: 22px;
  }
  .item-form input {
    height: 52px;
    font-size: 14px;
  }
  .modal-wrap .btn-main {
    height: 53px;
  }
  .checkbox {
    font-size: 12px;
  }
  #modal-applications .title-modal {
    max-width: 375px;
  }
}

@media (max-width: 768px) {
  .modal-wrap {
    padding: 24px 16px;
    border-radius: 8px;
  }
  .head-modal {
    margin-bottom: 16px;
  }
  .checkbox {
    margin-bottom: 4px;
  }
  .modal-bottom {
    padding-top: 24px;
  }
  #modal-applications .title-modal {
    max-width: 298px;
  }
  .descr-form {
    font-size: 12px;
    margin-top: 16px;
  }
  .descr-socials {
    margin-bottom: 12px;
  }
  .modal-wrap .social-links {
    margin-bottom: 12px;
  }
  .str_wrap {
    height: 31px !important;
  }
  .modal-wrap .btn-main {
    height: 48px;
    font-size: 12px;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
